<app-layout-formulario
    [tituloFormulario]="tituloFormulario"
>
    <contenido>
        <form action="">

            <div class="contenedor-campos">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput required>
                </mat-form-field>

            </div>

            <div class="contenedor-boton">
                <button mat-raised-button color="primary">{{textoBoton}}</button>
            </div>

        </form>
    </contenido>
</app-layout-formulario>
